@page
@model ChangePasswordModel
<!DOCTYPE html>

<div class="container">
    <div class="col-md-9">
        <div class="row">
            <div>
                <partial name="_MenuManager" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <form method="post" novalidate="novalidate">
                        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>

                        <div class="form-group col-lg-7">
                            <label asp-for="Input.OldPassword"></label>
                            <input asp-for="Input.OldPassword" type="password" data-val-required="The Current password field is required." class="le-input form-control-lg" />
                        </div>
                        <div class="row"></div>
                        <div class="form-group col-lg-7">
                            <label asp-for="Input.NewPassword"></label>
                            <input asp-for="Input.NewPassword" type="password" data-val-required="The Current password field is required." data-val-length="The New password must be at least 6 and at max 100 characters long." class="le-input form-control-lg" />
                        </div>
                        <div class="row"></div>
                        <div class="form-group col-lg-7">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" type="password" data-val-equalto="The new password and confirmation password do not match." class="le-input form-control-lg" />
                        </div>
                        @if (Model.ModelState.ErrorCount > 0)
                        {
                            <div class="row">
                                <label class="label-danger"></label>
                            </div>
                        }
                        <div class="row"></div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

