<div class="col-md-9">
    <ul class="nav nav-pills flex-column megamenu-horizontal">
        <li class="nav-item"><a class="nav-link active" id="profile" asp-page="/Account/Manager">Perfil</a></li>
        <li class="nav-item"><a class="nav-link" id="email" asp-page="/Account/Email">Email</a></li>
        <li class="nav-item"><a class="nav-link" id="change-password" asp-page="/Account/ChangePassword">Senha</a></li>
        <li class="nav-item"><a class="nav-link" id="change-password" asp-page="/Account/DadosCartao">Dados Cartão</a></li>
    </ul>
</div>