@page
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>


    <div class="container">
        <h1>Esqueceu sua senha?</h1>
        <form method="post" asp-page="./Forgot" asp-route="ResetPassword" >
            <div class="form-group">

                <div class="container-fluid">
                    <label class="col-md-11" for="Input_Email">Email</label>
                    <input class="form-control col-md-4" type="email" data-val="true"
                           data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                </div>
                <button type="submit" class="btn btn-primary col-md-2">Reset Password</button>
            </div>

        </form>
    </div>
</body>
</html>
