@page
@model DadosUsuarioModel
@using msShop.TagHelpers
<!DOCTYPE html>
<div class="container">
    <div class="row">
        <div>
            <partial name="_MenuManager" />
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <input type="hidden" asp-for="DadosUsuario.DadosUsuarioId">
        <input type="hidden" asp-for="DadosUsuario.UserId">

        <form method="post">
            <div class="row-cols-9">
                <div class="form-group col-lg-5">
                    <label asp-for="DadosUsuario.Nome"></label>
                    <input asp-for="DadosUsuario.Nome" class="le-input form-control-lg" />
                </div>
                <div class="form-group col-lg-2">
                    @*@Html.DropDownListFor(Model => Model.DadosUsuario.TipoDocumento, 
                   new SelectList(ListaTipoDocumento, "ID", "TipoDocumento"),
                   new { @class = " form-control" })*@
                    <label asp-for="DadosUsuario.CPFCNPJ"></label>
                    <input asp-for="DadosUsuario.CPFCNPJ" class="le-input form-control-lg" />
                </div>
                <div class="form-group col-lg-2">
                    <label asp-for="DadosUsuario.DataNascimento"></label>
                    <input asp-for="DadosUsuario.DataNascimento" class="date le-input form-control-lg" />
                </div>
            </div>
            <div class="row-cols-9">
                <div class="form-group col-lg-5">
                    <label asp-for="DadosUsuario.Enderenco"></label>
                    <input asp-for="DadosUsuario.Enderenco" class="le-input form-control-lg" />
                </div>
                <div class="form-group col-lg-2">
                    <label asp-for="DadosUsuario.Numero"></label>
                    <input asp-for="DadosUsuario.Numero" class="le-input form-control-lg" />
                </div>
                <div class="form-group col-lg-2">
                    <label asp-for="DadosUsuario.Complemento"></label>
                    <input asp-for="DadosUsuario.Complemento" class="le-input form-control-lg" />
                </div>
            </div>
            <div class="row-cols-9">
                <div class="form-group col-lg-5">
                    <label asp-for="DadosUsuario.Bairro"></label>
                    <input asp-for="DadosUsuario.Bairro" class="le-input form-control-lg" />
                </div>
                <div class="form-group col-lg-2">
                    <label asp-for="DadosUsuario.Cidade"></label>
                    <input asp-for="DadosUsuario.Cidade" class="le-input form-control-lg" />
                </div>
                <div class="form-group col-lg-2">
                    <label asp-for="DadosUsuario.Estado"></label>
                    <input asp-for="DadosUsuario.Estado" class="le-input form-control-lg" />
                </div>
                <div class="form-group col-lg-2">
                    <label asp-for="DadosUsuario.CEP"></label>
                    <input asp-for="DadosUsuario.CEP" class="le-input form-control-lg" />
                </div>
            </div>
            <div class="row"></div>
            <div class="buttons-holder">
                <button type="submit" class="le-button huge">Salvar</button>
            </div>
        </form>
    </div>
</div>