
@{
    ViewData["Title"] = "Política de Troca e Devolução";
}

<main id="terms" class="inner-bottom-md">
    <div class="container">
        <section class="section section-page-title">
            <div class="page-header">
                <h2 class="page-title">Trocas e Devoluções</h2>
                <p class="page-subtitle">Atualizado em 17 de Maio de 2020</p>
            </div>
        </section><!-- /.section-page-title -->
        <section class="section intellectual-property">
            <p>Nossos produtos são originais com o lacre de fábrica e sempre passam por uma vistoria antes de serem enviados para o cliente.</p>
        </section>
        <section class="section intellectual-property">
            <h2>Prazo para Troca:</h2>
            <ol>
                <li>O prazo para troca de produtos é de 7 dias corridos, a contar da data de recebimento.</li>
                <li>Para poder substituí-lo, o produto deve estar nas mesmas condições em que foi recebido/comprado (na embalagem original, sem indícios de uso, com o lacre original do fabricante, manual e todos os acessórios). </li>
                <li>Todos os custos de frete de retorno e reenvio do produto serão por conta do cliente. </li>
            </ol>
        </section>
        <section class="section intellectual-property">
            <h2>Arrependimento de Compra:</h2>
            <ol>
                <li>Você tem até 7 dias para solicitar a troca do produto caso você se arrependa.</li>
                <li>O produto precisa estar lacrado. </li>
                <li>O produto não pode ter sido usado. </li>
            </ol>
        </section>
        <section class="section intellectual-property">
            <p>Embalagem Avariada ou Produto Errado: se o seu pedido chegou com algum ítem quebrado ou amassado, se faltou algum produto ou qualquer outra divergência, <span class="badge-danger">comunique-nos imediatamente</span>.</p>
        </section>
        <section class="section intellectual-property">
            <h2>Produto com Defeito:</h2>
            <ol>
                <li>Os produtos comercializados pela MS GamesCenter possuem garantia de 3 meses.</li>
                <li>Se após o uso você identificar algum erro ou defeito, contate-nos e descreva o que está ocorrendo.</li>
                <li>Nestes casos, solicitamos até 30 dias para a conclusão do caso.</li>
                <li>Para realizar a troca é necessário entrar em contato como nossa Central de Relacionamento (via fone ou e-mail).</li>
                <li>As informações necessárias são: motivo da troca, CPF, n° do pedido e o novo produto.</li>
                <li>A escolha deverá se limitar ao valor limite do produto.</li>
                <li>Caso haja diferença de preço, deverá ser providenciado o pagamento da diferença.</li>
                <li>Se houver devolução de valores, a troca só poderá ser feita pelo titular do pedido.</li>
                <li>Assim que chegar, fizemos testes e análise do erro/defeito.</li>
                <li>Se o defeito for constatado, estaremos lhe enviando um novo produto sem custo adicional.</li>
                <li>Caso contrário, o mesmo produto é reenviado para você.</li>
                <li>Produtos que apresentarem variações por mal uso (como arranhões, trincas e rachaduras) não serão possíveis de troca.</li>
            </ol>
        </section>
        <section class="section intellectual-property">
            <h2>Erro de Entrega / Endereço Errado</h2>
            <p>
             Caso aconteça algum erro na entrega do seu pedido (pode acontecer do endereço estar errado, o carteiro não achar o seu endereço ou expirar as tentativas de entrega) e o produto retornar para a nossa base central, o prazo para reenvio para o destinatário é de 15 dias.
                Por isso, atenção na hora de cadastrar o seu endereço! Coloque ponto de referência se for possível. Quanto mais especificado, mais fácil de ser achado.
            </p>
        </section>
    </div>
</main><!-- /.inner-bottom-md -->